---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Session Timeout">
	<main>
    <div class="d-flex justify-content-center w-full h-full">
      <h1>セッションタイムアウト</h1>
      <p>セッションがタイムアウトしました。再度ログインしてください。</p>
      <a href="./">ログイン</a>  
    </div>
	</main>
</Layout>

